/* ------------------------------ Switch --------------------------------------------*/
/* The switch - the box around the slider */
:root{
	--button-width:2.5rem;
	--toggle-time:100ms;
	--filter:0;
}

.switch-wrapper{
    float:right;
}
/* The switch - the box around the slider */

.switch-wrapper{
    float:right;
	margin-right:calc(var(--button-width)/3 + 1vw);
}

.switch {
    -webkit-tap-highlight-color: transparent;
	position: relative;
	display: inline-block;
	width: var(--button-width);
	height: calc(34 / 60 * var(--button-width));
}

/* Hide default HTML checkbox */
.switch input {
    -webkit-tap-highlight-color: transparent;
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
    position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: var(--toggle-time);
	transition: var(--toggle-time);
}

.slider:before {
    position: absolute;
	content: "";
	height: calc(26 / 60 * var(--button-width));
	width: calc(26 / 60 * var(--button-width));
	left: calc(4 / 60 * var(--button-width));
	bottom: calc(4 / 60 * var(--button-width));
	background-color: white;
	-webkit-transition: var(--toggle-time);
	transition: var(--toggle-time);
}

input:checked + .slider {
    background-color: #34c759;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(calc(26 / 60 * var(--button-width)));
	-ms-transform: translateX(calc(26 / 60 * var(--button-width)));
	transform: translateX(calc(26 / 60 * var(--button-width)));
}

.slider.round {
    border-radius: calc(34 / 60 * var(--button-width));
}

.slider.round:before {
    border-radius: 50%;
}

/* ------------------------------ Advanced --------------------------------------------*/
#advanced{
	position: relative;
	z-index: 100;
    display: none;
    height: 1.5rem;
    line-height: 1.5rem;
}

#adv_filter_button::before{
    margin-left: 0.25rem;
	background-image: url('https://img.icons8.com/fluent-systems-regular/48/000000/filter.png');
    display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
    background-size: 1.5rem 1.5rem;
	content: "";
    vertical-align: -30%;
	filter: invert(var(--filter)) sepia() saturate(1000%) hue-rotate(100deg) brightness(0.95);
}

/* #advanced:hover #adv_set{
	display: block;
} */

#adv_set{
	display: none;

	width: 300px;
	
	position: absolute;
	top: 1.5rem;
	left:0;

	padding: 1rem 2.5px;
	box-sizing: border-box;

	background-color: white;
	border:1px solid #9b9b9b;
	border-radius: 3px;
	box-shadow: 0 0 2px #9b9b9b;
}

#adv_set input{
	width:6rem;
	box-sizing: border-box;
}

/* --------------------- */

button:not(.filter){
	-webkit-appearance: none; 
	border: white;
	box-sizing: border-box; 
	padding: 1px;
	background:none;
	line-height: 1rem;
}
button img{
	margin-bottom: -0.2rem;
	height: 1rem;
}

/* @media (max-width:450px) {
	#adv_set{
		top:6rem;
		left:calc(-450px/2 + 4rem + 100vw/4);
		transform: rotate(-90deg);
	}
} */

.option td .switch-wrapper{
	margin:auto;
	margin-right:0.5rem;
}