main{
    padding: 1vw;
}

/* ------------------------------ Table ------------------------------*/
table{
	margin-bottom: 10vh;
}

td{
	padding:0.25rem;
	text-align:center;
}

.Дата{
	display:none;
}

/* ------------------------------ Table Name ------------------------------*/

.name{
	position:relative;
}
.name .phone{
	background-color: white;
	border: 4px double #808080;
	display:none;
	position:absolute;
	bottom:-0.25rem;
	left:4.245rem;
	padding: 0.25rem;
}

/* ------------------------------ Table Telephone Number ------------------------------*/

.name .phone::before{
	content: '📞';
}
.name:hover .phone{
	display: block;
}

/* ------------------------------ Simple Sort --------------------------------------------*/
#simple{
	display: inline;
}

#sort{
	-webkit-appearance: none;
	margin: 0;
	line-height:1.5rem;
}
#sort::before{
	background-image: url('https://img.icons8.com/fluent-systems-regular/96/000000/generic-sorting-2.png');
    display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
    background-size: 1.5rem 1.5rem;
	content: "";
    vertical-align: -30%;
}

input:checked#sort{
	background-color: #00000000;
}
input:checked#sort::before{
	background-image: url('https://img.icons8.com/fluent-systems-regular/96/000000/sort-amount-up-reversed.png');
}
