@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --nav-height:3.75rem;
	--main-height:calc(100vh - var(--nav-height));
}


body{
    height:100vh;
	width:100vw;
	margin:0;
	padding:0;
    
	position: absolute;
	font-family: Roboto, sans-serif;
}


main{
    height:var(--main-height);
    width:100vw;
    
    position: fixed;
    top:var(--nav-height);
    left:0;
    
    overflow:scroll;
}


nav{
    height:var(--nav-height);
	width:100vw;
	
	position:fixed;
	top:0;
	left:0;
    
	padding: calc(var(--nav-height)/3);
	box-sizing: border-box;
	box-shadow: 0 0 6px #9b9b9b;
}

nav h1{
    margin:0;
	display: inline;
}

nav svg{
    height:1.5rem;
	margin-right:1rem;
}


a{
    -webkit-tap-highlight-color: #50505030;
	text-decoration: none;
	color:black;
}


.center {
    margin-left: auto;
    margin-right: auto;
}


#submit, #phone-name{
	width:100vw;
	height: 3rem;
	border:none;
	background-color: #03a9f4;
	font-size: 1.1rem;
	color:white;
	padding: 0;
	margin: 0;
}


#sum, #username, #password, #phone, .setting {
	width:100vw;
	height: 4rem;
	font-size: 2rem;
	line-height: 2rem;

	text-align: center;

	border:none;
	box-sizing: border-box;

	border-top:1px solid #9b9b9b;
	border-bottom:1px solid #9b9b9b;
	background-color: white;
	padding: 1rem;
	margin: 0;
}
#sum::after, .cashback::after{
	content:" ₸";
}

.setting {
	min-height: 1.9rem;
	font-size: 0.9rem;
	line-height: 0.9rem;
	padding: 0.5rem;

	text-align: left;
	height: auto;
	width: 100%;
}