.rowName{
    font-weight: bold;
}

#carousel{
    min-height: 400px;
}

#carousel div.wrapper{
    margin: auto;
}



#carouselLeft, #carouselRight, #items{
    display: inline-block;
}

#carouselLeft img, #carouselRight img{
    margin-bottom: -150px;
    width:5vw;
    max-width:2rem;
}

#items{
    width:80vw;
    max-width: 400px;

    top:0;
}

.item{
    display: none;

    background-color:white;
    border:1px solid black;
    border-radius: 10px;

    padding: 10px;
    box-sizing: border-box;
}

.item.current{
    display: block;
}

.item .image img{
    width: calc(80vw - 30px);
    max-width: 370px;
}

#addMenu{
    display: none;

    z-index: 1000;
    position: absolute;
    width:100vw;
    height:100vh;
    background-color:white;
}

#addMenu table{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#closeAddMenu{
    float:right;
}

#addMenu #inputAddImage{
    width:90vw;
    max-width: 400px;
}

#addMenu input[type="file"]{
    width:8rem;
}


/* Edit Menu */

#editMenu{
    display: none;

    z-index: 1000;
    position: absolute;
    width:100vw;
    height:100vh;
    background-color:white;
}

#editMenu table{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#closeEditMenu{
    float:right;
}

#editMenu #inputAddImage{
    width:90vw;
    max-width: 400px;
}

#editMenu input[type="file"]{
    width:8rem;
}