:root{
	--option-height:calc(var(--main-height) / 3);
}

.option{
	height:var(--option-height);
	box-sizing: border-box;
}

.option .icon{
	width:5rem;
}

table{
	height: var(--option-height);
	vertical-align: center;
}

td{
	vertical-align: center;
	text-align: center;
}

#login{
	float:right;
	display: none;
	opacity: 0.02;
	-webkit-tap-highlight-color: #00000000;
}
#login img{
	height:1.5rem;
}

@media (min-width:1200px) {
	#login{
		display: block;
	}	
}

@media (max-width: 250px) {
	:root{
		font-size:12px;
	}
}

@media (max-height: 400px) {
	:root{
		font-size:10px;
	}
}

@media (max-height: 300px) and (max-width: 200px) {
	:root{
		font-size:8px;
	}
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}